<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">

     <persistence-unit name="Donnees" transaction-type="RESOURCE_LOCAL">
		<jpa-data-source>java:/MySqlDS</jpa-data-source>
		<properties>
			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/jpa"/>
        </properties>   
     </persistence-unit>
</persistence>